# API Configuration - Usuario Normal
VITE_API_KEY=

# API Configuration - Administrador
VITE_API_KEY_ADMIN=

# Admin Configuration
VITE_ADMIN_PASSWORD=

# App Configuration
VITE_APP_NAME=Pasarela de Pagos